<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <!-- <title>{% block title %}{% endblock %}</title> -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'break_timer/break-timer.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'break_timer/break-timer.js' %}"></script>
    </head>

    <body>
        <div class="body-content">
            {% block content %}
            {% endblock %}
        </div>

        <div id="navigation-bar">
            {% block navbar %}
            {% endblock %}
            <div id="mute-button" class="navigation-bar-element">
                <label>
                    <input type="checkbox" onclick="pageMuteControl()" id="mute-button-checkbox">
                    <span class="label"></span>
                </label>
            </div>
        </div>
    </body>
    <script>
        displayMuteIcon();
    </script>
</html>