/* Mute button */
input[type=checkbox] {
    display: none;
}

.label {
    display: inline-block;
    padding: 20px;
    background: url("sound_icon.png") no-repeat right; 
    background-size: contain;
  }

input[type=checkbox]:checked + .label {
    background: url("sound_icon_mute.png") no-repeat right;
    background-size: contain;
}

/* Alert list */ 
ul.errorlist {display: none}

/* Timer */
.timer {
    color: rgba(122, 11, 11, 0.972);
    border-style: solid;
    border-width: 5px;
    border-radius: 1px;
    max-width: 35%;
    font-size: 50px;
}

/* Toast */
.toast-header {
    font-size: 30px
}

/* Signup page */
.signup-form {
    text-align: left; 
    margin: 0 auto; 
    max-width: 600px
}
